.pickerContainer {
  position: relative;
  width: 300px;
  padding: 1rem;

  .wheel, .triangle {
    position: absolute;
    z-index: 0;

    svg {
      display: block;
    }
  }

  .wheel {
    z-index: 10;
    border-radius: 100%;
  }
}

.mouseListener {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  &.maximized {
    position: fixed;
  }
}
